:root {
  --accent-color: #6d6060;
    --primary-color: #cfb1a2;
    --secondary-color:  #d1949480;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --hero-bg-color: #ebd5d52c;
  }

  body,
  .navbar {

    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;

  }

  .hero-section {
    /* background-color: var(--hero-bg-color); */
    padding-top: 100px;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 1.5;

  }
  
  h1 {
    font-size: 78px;
  }
  
  h2 {
    font-size: 42px;
    color: var(--accent-color);
    /* opacity: 0.7; */
  }
  
  h3 {
    font-size: 34px;
    color: var(--primary-color);
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .navigation-links {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 10px;
    padding: 20px 22px;
    text-decoration: none;
    text-transform: capitalize;
  }

  body, .navbar {

      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
  }
  .navbar-nav .nav-link {
    opacity: 0.6;
  }
  .navbar-nav .nav-link:hover {
    opacity: 1;
  }
  .navbar-nav .nav-link.active {
    opacity: 1;
  }
  .bg-nav {
    background-color: var(--primary-color);
  }
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
  }

  .project-button:hover,
  .about-link:hover,
  .contact-link:hover{
    background: var(--secondary-color);
    color: #fff;
  }

  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs p {
    margin: 30px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  .project-button {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .nav-brand-flex{
    display: flex;
    flex-direction: column;

  }
  .navbar-brand{
    padding: 0px;
  }
  .navbar-brand-accent {
    font-size: 14px;
    margin: 0px 0px 0px 36px;
    opacity: 0.7;
  }
  .navbar-toggler {
    background-color: #fff;
    opacity: 0.6;
  }
  .icon{
    font-size: 42px;
  }
  .github-icon {
    background-color: #fff;
    color: #000;
  }
  .insta-icon {
    background-color: #fff;
    color: #AE3380;
  }
  .education {
    text-decoration: underline;
  }

/* !!!!!!!SLICK!!!!!! */
.gallery {
  max-width: 1352px;
}
.slick-slide {
  border: solid #fff;
  position: relative;
  border-width: 0 20px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
  list-style: none;
}
.slick-slide img {
  width: 100%;
}
.slick-dots button {
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 0.5px solid var(--accent-color);
  margin: 0px 8px;
  padding: 0;
  background: none;
}
.slick-dots .slick-active button {
  background-color: var(--accent-color);
  border: none;
} 
  @media (max-width: 576px) {
    .navigation-links a {
      margin: 15px;
      padding: 15px 17px;
      font-size: 16px;
    }
    .hero-section {
      padding: 20px;
      padding-top: 80px;
    }
    .project-button {
    display: block;
    text-align: center;
    margin: 0 20px;
    }
    p {
      text-align: center;
    }
    h2 {
      font-size: 28px;
      text-align: center;
    }
    h1 {
      font-size: 42px;
      line-height: 1.5;
    }
    h3 {
      font-size: 24px; 
    }

}